.main {
  &-visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
// 위에랑 같은것
// .main-visual video {
//   width: 100%;
//   height: 100vh;
//   object-fit: cover;
// }

.business {
  padding: 150px 0;
  .list {
    display: flex;
    color: #111;
    li {
      width: 25%;
      position: relative;
      &:hover {
        .img-box {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    @for $i from 1 through 4 {
      // 보간 (interpolation)
      &:nth-child(#{$i}) a:before {
        background-image: url("../images/main/main_business_icon0#{$i}.png");
      }
    }
    // 아래식을 위에 반복문 형태로 쓴것
    // &:nth-child(1) a::before {
    //   background-image: url("../images/main/main_business_icon01.png");
    // }
    // &:nth-child(2) a::before {
    //   background-image: url("../images/main/main_business_icon02.png");
    // }
    // &:nth-child(3) a::before {
    //   background-image: url("../images/main/main_business_icon03.png");
    // }
    // &:nth-child(4) a::before {
    //   background-image: url("../images/main/main_business_icon04.png");
    // }

    a {
      font-size: 24px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      //   outline: 1px solid #f00;
      aspect-ratio: 1 / 1.3; // height로 안쓰고 비율로 사용

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        // background-color: #ccc;
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
    }
    .img-box {
      //   display: none;
      pointer-events: none;
      opacity: 0;
      transform: translateY(100px);
      position: absolute;
      top: 0;
      transition: all 0.25s ease;
      .txt {
        position: absolute;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        h3 {
          // font-size: (24px / 2); 나누기는 연산할때 괄호 꼭 쳐야함
          font-size: (24px + 4px); //calc 안쓰고도 기본적인 +,- 연산가능
          font-weight: 500;
          //   font: {
          //     // 위에 font랑 같은 코드
          //     size: (24px + 4px);
          //     weight: 500;
          //   }
          margin-bottom: 20px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
